@model UI.Models.User
@using Models.Models
@{
    ViewData["Title"] = "Изменить пользователя";
}
<h2>Изменить профиль</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <span class="text-danger">
                    @ViewBag.Message
                </span>
            }
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Имя пользователя</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Login" class="control-label">Логин</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mail" class="control-label">Почта</label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Телефон</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>    