@model Parameter
@using Models.Models
@{
    ViewData["Title"] = "Изменить категорию";
}
<h2>Изменить категорию</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <span class="text-danger">
                    @ViewBag.Message
                </span>
            }
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Изменить категорию" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>    